@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: local('Bangers Regular'), local('Bangers-Regular'), url("/fonts/Bangers-v13.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Fira Code';
  src: url("/fonts/FiraCode-Regular.woff2") format('woff2'), url("/fonts/FiraCode-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('/fonts/FiraMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Each font falls back to the other for smoother switching */
:root {
  --vp-font-family-mono: 'Fira Mono', 'Fira Code', monospace;
}
.ligatures {
  --vp-font-family-mono: 'Fira Code', 'Fira Mono', monospace;
}

textarea {
  font-family: var(--vp-font-family-mono);
}

h1 {
  font-family: 'Bangers', cursive;
  letter-spacing: 0.04em !important;
}

h1>.info {
  font-family: var(--vp-font-family-base)
}

.wide {
  display: none;
}

.narrow {
  display: inline;
}

@media (min-width: 768px) {
  .wide {
    display: inline;
  }

  .narrow {
    display: none;
  }

  .vp-code-group .tabs {
    display: none;
  }

  .vp-code-group .blocks {
    display: flex;
    justify-content: space-between;
  }

  .vp-code-group .blocks>div {
    display: block;
    width: calc(50% - 10px);
  }

  .content {
    max-width: 992px !important;
  }
}

.language-coffee .lang {
  color: transparent !important;
}

.language-coffee .lang::after {
  color: var(--vp-c-text-dark-3);
  content: 'civet';
}

.vp-code-group .tabs label:first-of-type {
  color: transparent !important;
  width: 60px;
}

.vp-code-group .tabs label:first-of-type::before {
  color: var(--vp-code-tab-active-text-color) !important;
  content: 'civet';
}
