.wide {
  display: none;
}
.narrow {
  display: inline;
}

@media (min-width: 768px) {
  .wide {
    display: inline;
  }
  .narrow {
    display: none;
  }

  .vp-code-group .tabs {
    display: none;
  }
  .vp-code-group .blocks {
    display: flex;
    justify-content: space-between;
  }
  .vp-code-group .blocks > div {
    display: block;
    width: calc(50% - 10px);
  }
  .content {
    max-width: 992px !important;
  }
}

.language-coffee .lang {
  color: transparent !important;
}

.language-coffee .lang::after {
  color: var(--vp-c-text-dark-3);
  content: 'civet';
}

.vp-code-group .tabs label:first-of-type {
  color: transparent !important;
  width: 60px;
}

.vp-code-group .tabs label:first-of-type::before {
  color: var(--vp-code-tab-active-text-color) !important;
  content: 'civet';
}
