@font-face {
  font-family: 'Breamcatcher';
  font-style: normal;
  font-weight: 400;
  src: local('Breamcatcher'), url("/fonts/Breamcatcher.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Fira Code';
  src: url("/fonts/FiraCode-Regular.woff2") format('woff2'), url("/fonts/FiraCode-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Each font falls back to the other for smoother switching */
:root {
  --vp-font-family-mono: 'Fira Code', monospace;
  font-variant-ligatures: no-contextual;

  --shadow-extreme: 8px 8px 0 rgba(0, 0, 0, 0.25);
  --shadow-heavy: 4px 4px 0 rgba(0, 0, 0, 0.25);
  --shadow-text: 2px 2px 0 rgba(0, 0, 0, 0.125);
  --shadow-vertical: 0 2px rgba(0, 0, 0, 0.125);

  --color-primary: #CE1CAE;
  --color-secondary: #6C0E97;
  --color-bg: #fdfdfd;

  --vp-home-hero-name-color: var(--color-primary);
  --vp-c-bg: var(--color-bg);
  --vp-nav-bg-color: var(--color-bg);
  --vp-c-bg-alt: #fafafa;

  --vp-c-brand-1: var(--color-primary);
  --vp-c-brand-2: var(--color-secondary);

  --vp-button-brand-bg: var(--color-primary);
  --vp-button-brand-hover-bg: var(--color-secondary);
}

.dark {
  --color-primary: #F224CC;
  --color-secondary: #AF56D7;
  --color-bg: hsl(239 49% 9.5% / 1);

  --shadow-extreme: 8px 8px 0 rgba(0, 0, 0, 0.75);
  --shadow-heavy: 4px 4px 0 rgba(0, 0, 0, 0.75);
  --shadow-text: 2px 2px 0 rgba(0, 0, 0, 0.5);
  --shadow-vertical: 0 2px rgba(0, 0, 0, 0.75);

  --vp-c-bg-alt: hsl(239 49% 4% / 1);

}

.VPDoc>.container {
  background-color: var(--color-bg);
}

a,
nav,
.VPLastUpdated,
p.message,
.vp-doc h1,
.vp-doc h2,
.vp-doc h3 {
  text-shadow: var(--shadow-text);
}

.vp-doc h2 {
  border-top: none;
  margin-top: 0;
}

div.main>p.text,
div.main>p.tagline {
  text-shadow: var(--shadow-text);
}

.VPBadge {
  border-radius: var(--border-radius) !important;
}

h1.name {
  text-shadow: var(--shadow-heavy);
}

.vp-doc a {
  color: var(--vp-c-brand-2);
}

.vp-doc a:hover {
  color: var(--vp-c-brand-1);
}

.VPHero .VPImage {
  filter: drop-shadow(var(--shadow-extreme));
}

.VPImage.logo {
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.75));
}

.vp-doc :not(pre)>code {
  border-radius: var(--border-radius);
}

div[class*='language-'] {
  border-radius: var(--border-radius) !important;
}

.VPButton {
  border-radius: 0 !important;
  box-shadow: var(--shadow-heavy)
}

.tip.custom-block,
.info.custom-block {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-heavy);
}

html:not(.dark) .shiki.one-dark-pro>code {
  filter: invert(1) hue-rotate(180deg);
}

@media (min-width: 960px) {
  .VPNavBar {
    box-shadow: var(--shadow-vertical);
  }

  .VPDoc {
    min-height: 100%;
    padding: 32px !important;
    position: relative
  }

  .VPDoc::before,
  .VPDoc::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .VPDoc::before {
    background-color: var(--vp-c-bg-alt);
  }

  .VPDoc::after {
    background-image: url('/images/trees.svg'), url('/images/bg.svg');
    background-repeat: no-repeat, repeat;
    background-position: -25% 100%, 50%;
    filter: opacity(0.25);
  }

  .dark .VPDoc::before {
    background-color: hsl(239 49% 1% / 1);
  }

  .VPDoc>.container {
    box-shadow: var(--shadow-heavy), -1px -1px 0 rgba(0, 0, 0, 0.125);
    min-height: 100%;
    padding-top: 32px;
  }

  .VPContent {
    display: flex;
  }

  .VPDocAsideOutline {
    padding-top: 32px;
  }

  .aside-curtain {
    display: none;
  }
}

.ligatures {
  font-variant-ligatures: normal;
}

textarea {
  font-family: var(--vp-font-family-mono);
}

h1 {
  font-family: 'Breamcatcher', cursive;
  letter-spacing: 0.04em !important;
}

.vp-doc h1 {
  font-size: 64px;
  line-height: 64px;
}

h1.name>.clip {
  font-size: 128px;
  line-height: 128px;
}

h1>.info {
  font-family: var(--vp-font-family-base)
}

.wide {
  display: none;
}

.narrow {
  display: inline;
}

@media (min-width: 768px) {
  .wide {
    display: inline;
  }

  .narrow {
    display: none;
  }

  .vp-code-group .tabs {
    display: none;
  }

  .vp-code-group .blocks {
    display: flex;
    justify-content: space-between;
  }

  .vp-code-group .blocks>div {
    display: block;
    width: calc(50% - 10px);
  }

  .content {
    max-width: 992px !important;
  }
}

.language-coffee .lang {
  color: transparent !important;
}

.language-coffee .lang::after {
  color: var(--vp-c-text-dark-3);
  content: 'civet';
}

.vp-code-group .tabs label:first-of-type {
  color: transparent !important;
  width: 60px;
}

.vp-code-group .tabs label:first-of-type::before {
  color: var(--vp-code-tab-active-text-color) !important;
  content: 'civet';
}
