on: ["push", "pull_request"]

name: Build
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v3

    - name: Setup Node.js 18.x
      uses: actions/setup-node@v3
      with:
        cache: yarn
        node-version: 18.x

    - name: Install and Test
      run: |
        yarn
        yarn build
        yarn test

    - uses: actions/upload-artifact@v3
      with:
        name: browser.js
        path: dist/browser.js
